<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic LinkButton - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="./themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="./themes/icon.css">
    <link rel="stylesheet" type="text/css" href="./demo.css">
    <script type="text/javascript" src="./jquery.min.js"></script>
    <script type="text/javascript" src="./jquery.easyui.min.js"></script>
</head>
<body>
<h2>Basic LinkButton</h2>
<p>Buttons can be created from &lt;a&gt; or &lt;button&gt; elements.</p>
<div style="margin:10px 0 40px 0;"></div>
<div>
    <img src="../images/cc.png">
</div>
<div style="padding:5px 0;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">Search</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="downChart()">Save</a>
</div>
</body>
</html>
<script>
    function downChart(){
            console.log("ajaxDownloadSynchronized");
            var url = "http://localhost:8080/chart/down";
            var fileName = "折线图.png";
            var form = $("<form></form>").attr("action", url).attr("method", "get");
            form.append($("<input>").attr("type", "hidden").attr("name", fileName).attr("value", fileName));
            form.appendTo('body').submit().remove();
    }
</script>
